pkgbase = chaotic-review-git
	pkgdesc = Interactive review gate for Chaotic-AUR package build-recipe changes
	pkgver = 0.2.0.r10.89cdfe9
	pkgrel = 1
	url = https://github.com/the-nexi/chaotic-review
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	depends = expac
	depends = less
	depends = libarchive
	depends = pacman>=7
	depends = python
	depends = util-linux
	provides = chaotic-review=0.2.0.r10.89cdfe9
	conflicts = chaotic-review
	backup = etc/chaotic-review.conf
	source = chaotic-review::git+https://github.com/the-nexi/chaotic-review.git#branch=main
	b2sums = SKIP

pkgname = chaotic-review-git
